<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="studentportal.css">
    <title>Student Dash Board</title>
</head>
<body>
    <header>
        <div class="user_infor">
            <div class="image_div">
                <img  class="user_image" src="/assets/Images/homepage1.jpg" alt="">
            </div>
            <div  class="student_name">
            <p>{{.First_Name}} {{.Last_Name}}</p>

            </div>
        </div>
        <div class="accountfunctions">
            <p><a href="/Messages">Messages</a></p>
            <p><a href="/studentsettings">Settings</a></p>
            <p><a href="/studentlogout">Log out</a></p>
        </div>
        
    </header>
    <main>
        <div class="programs">
            <div>
            <div class="program_name">
                <h2>Award of Certificate of Attendance in Metaphysical Sciences</h2>
            </div>
            <hr>
            <div class="program_table">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Course Name</th>
                    <th>Download Book</th>
                    <th>Video</th>
                    <th>Take Exam</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Communication Skills</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Public Speaking</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr><tr>
                        <td>3</td>
                        <td>Intuition</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Understanding Religions of the World</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr><tr>
                        <td>5</td>
                        <td>Public Relations</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr><tr>
                        <td>6</td>
                        <td>Anger Management</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr><tr>
                        <td>7</td>
                        <td>Connecting With Angels</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Critical Thinking</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Financial Education</td>
                        <td></td>
                        <td><a href="">Watch</a></td>
                        <td><a href="">Write</a></td>
                        <td>Pedding</td>

                    </tr>
                </tbody>
            </table>
            </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>


{{ define  "studentdata"}}

<div class="studentdatadiv">

    <div class="studentdata">
        <div class="info">
            <p>First Name: {{ .First_Name}}</p>
            <p>Last Name: {{ .Last_Name}}</p>
            <p>Email : {{ .Email }}</p>
            <p>Phone Number: {{ .Phone}}</p>

        </div>

        <div class="updatediv">
            <button>Update Details</button>
            <button>Change Password</button>
        </div>

    </div>

    <div class="studentupdate" id="studentupdate">

    </div>

</div>

{{ end }}


{{ define "changepassword"}}

    <form action="">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="{{ .First_Name}}">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="{{ .Last_Name}}">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="{{ .Email}}">
        <label for="phone">Phone</label>
        <input type="text" name="phone" placeholder="{{ .Phone}}">
        <button class="updateuser">Update</button>
    </form>



{{ end }}



{{ define "updatestudentinfo"}}

    <form action="">
        <label for="old_password">Old Password</label>
        <input type="password" name="old_password">
        <label for="new_password">New Password</label>
        <input type="password" name="new_password">
        <label for="confirm">Confirm New Password</label>
        <input type="password" name="confirm_password">
        <button class="updateuser">Save</button>
    </form>


{{ end }}