<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.2">
    <style>
        body{
        background-image: url('/assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="aboutus">
        <h1>About Us</h1>
        <p>
            The University College of Metaphysical Sciences was established in 2024 and the first intake took place on 1st September 2024.  UCMS offers  online courses, through text, audio and video and currently has students  coming from corners of the world. 
            UCMS’s campus is based in Lusaka, Zambia where programmes are coordinated. The Lusaka Campus has a Library, where registered Metaphysical Students can access material for their course.
        </p>
    </div>
    <div style="height: fit-content;">
        <h1>OCERIES STRATEGIC PLAN</h1>

        <div>
            <div class="page_1" style="height: fit-content; width:100%;">
                <img src="/assets/Images/stplaning1.png" style="height: 70vh; width: 100%;">
            </div>

            <div class="page_2">
                <div style="width: 100%; height: 10vh; display: flex; justify-content: space-between; background-color: rgba(62, 24 ,84);">
                    <div style="display: inline-block; width: 60%; height: 100%;">
                        <h1 style="color: white; font-size: 2em;">A message from the Principal</h1>
                    </div>
                    <div style="display: inline-block; width: 30%; height: 100%;">
                        <img src="/assets/Images/principalHS.png" style="height: 70vh; width: 100%;">
                    </div>
                </div>
                <div>

                    <p>Dear Friends and all stakeholders,</p><br>
                    <p>I am pleased to present to you Oceries University of Metaphysicla Sciences
                    strategic plan, which was developed in consultation with students, stakeholders
                    and the institution faculty. The Strategic Plan, presents the vision and mission of
                    Oceries University of Metaphysical Sciences which is anchored on the objectives.
                    The University has Four objectives, which is To admit students from all backgrounds
                    with suitable qualification to pursue and benefit from the university education.</p>
                    <p>The second objective is to offer a conducive academic environment for all students
                    and graduates to excel during and after leaving the university.</p>
                    <p>The third objective is to to Enhance Strength and Stability of the university in all
                    the academic work.</p>
                    <p>And the final objective is to Foster Innovation among students, graduates and
                    other interested academics pursuing further education.</p>
                    <p>The ultimate goal of this strategic plan is To awaken humanity to understand
                    the purpose and mission on earth through pursuit of knowledge, Research and
                    Innovation.</p>
                    <p>Blessings to you all!</p>

                    <p>Dr. Felix Kunda
                    Principal, OUMS</p>

                </div>
            </div>

            <div class="page_3" style="height: fit-content; width: 100%">
                <div style="width: 100%; height: 10vh;background-color: rgba(62, 24, 84); display: flex; justify-content: start; padding-left: 30px;">
                    <h1>Introduction</h1>
                </div>

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                        <p>Welcome to our strategic plan for the
                        Oceries University of Metaphysical
                        Sciences. The Strategic Plan will cover
                        the period from 2025 to 2030. Oceries
                        University of Metaphysical Sciences,
                        brings on the global level education that
                        provides an opportunity for all to learn
                        regardless of their physical locations.</p> <br>
                        <p>Oceries University of Metaphysical
                        Sciences is being recognized nationally
                        and globally as a leading provider
                        in higher education, with numerous
                        indicators of the positive impact on the
                        students and the world.</p><br>
                        <p>The University is now poised to build
                        on these strengths by taking the bold
                        decisions to respond to the emerging
                        trends at global level, while remaining
                        true to awaken humanity is purpose of
                        life.</p><br>
                        <p>The University was founded in 2024,
                        in Zambia with a focus of providing
                        education at global level. The
                        university has realized that we now
                        live in an information world with more
                        technologically complex, a world in
                        which communication, discovery, and
                        change occur at a pace unimagined an
                        opportunity Oceries has embraced.</p><br>
                        <p>Our plan for the University’s next
                        chapter of excellence is based on
                        extensive consultation with campus
                        stakeholders. The plan highlights four
                        Strategic objectives, that will organize</p>

                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                        <p>the University’s efforts to maintain our
                        strength and grow where opportunities
                        arise to support student success and
                        contribute to our disciplines, to the
                        nation, and to the world.</p><br>
                        <p>This strategic plan is written broadly, to
                        provide guidance and not constraint. The
                        Strategic Directions, and the Core Values
                        they express, are central to the success
                        of Oceries University of Metaphysical
                        Sciences and its students. Our intention
                        is to provide a framework that will lead
                        to creativity and identify the ways that
                        will help move the University toward our
                        collective Vision.</p><br>
                        <p>A university-wide Implementation Team
                        will coordinate accountability efforts and
                        develop an assessment plan by which
                        we will track our successes and identify
                        where we need to do more or better
                        as Oceries University of Metaphysical
                        Sciences.</p><br>
                        <p>The Strategic plan provides a
                        framework for the University to exhibit
                        its characteristic financial discipline,
                        while making the most of our resources
                        in the service of our Mission and the
                        advancement of our Vision.</p><br>
                        <p>This document is the result of extensive
                        input from the campus community,
                        including surveys, forums,</p><br>
                    <p>and group discussions. The energetic</p>
                       engagement in this process from al 
                    </div>
                </div>
            </div>

            <div class="page_4" style="height: fit-content; width: 100%">
               

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                        <p>university stakeholders—students,
                        faculty, staff, alumni, community
                        friends, and partner is a reaction of the
                        University’s current success and more
                        greater things to come. Together, we
                        will exhibit our shared Values, pursue
                        our Strategic directions, and realize our
                        shared aspirations.</p> <br>

                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Scope<span><br>
                            Oceries University of Metaphysical
                            Sciences (OUMS) Strategic Plan sets out
                            a framework of how the university will
                            operate in the period 2025 to 2030. The
                            contents of the strategic plan have been
                            put in place after a wider consultation
                            with various stakeholders involved in
                            the smooth running of the university.
                            The strategic plan is underpinned by a
                            more detailed annual implementation
                            plan which is approved by the University
                            Council.</p><br>

                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Mission<span><br>
                            To provide relevant tertiary education
                            to all those seeking to be enlightened</p><br>


                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Vision<span><br>
                            To awaken humanity to understand the
                            purpose and mission on earth through
                            pursuit of knowledge, Research and
                            Innovation.</p>
                            <p style="font-weight: bold; color: rgb(62, 24, 84); font-size: 1.2em;"> Core Values</p>
                            
                            <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Alternative thinking: <span>
                            Oceries
                                    University provides an opportunity to
                                    students and graduates to consider
                                    unconventional, innovative, or
                                    unorthodox ideas and perspectives
                                    in finding solutions to the intricates
                                    of life. This involves thinking outside
                                    the box, challenging assumptions and exploring new possibilities.</p>


                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                         <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Academic Freedom: <span>
                            Oceries
                            University embraces the rights and
                            privileges of academics, researchers
                            to pursue knowledge, express
                            ideas and engage in intellectual
                            inquiry without undue restrictions,
                            censorship or interference. In all
                            this the University will encourage
                            integrity, quality and progress of
                            academic research and education.</p><br>


                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Academic Integrity: <span>
                           Oceries
                            University will ensure ethical
                            principles and values guide academic
                            behavior, ensuring that academic
                            work is conducted honestly,
                            responsibly and with intellectual
                            rigor. Oceries will uphold the highest
                            standards of academic conduct,
                            avoiding dishonesty, and respecting
                            the intellectual property of others.</p><br>


                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Academic Innovativeness:<span>
                            Oceries
                            University will ensure that academics,
                            researchers and students generate
                            and implement new ideas, methods
                            and approaches in their research,
                            teaching and academic practices.
                            This will entail thinking creatively,
                            taking risks, and experimenting with
                            new concepts, technologies, and
                            techniques to advance knowledge,
                            improve education and address
                            complex problems.</p><br>

                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Academic Excellence:<span>
                            Oceries
                            University will strive for achievement
                            of exceptionally high standards in
                            academic pursuits, characterized
                            by a deep understanding, critical</p><br>
                        <p>This document is the result of extensive
                        input from the campus community,
                        including surveys, forums,</p>
                    </div>
                </div>
            </div>

            <div class="page_5">

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">


                        <p>thinking, and innovative application
                        of knowledge. This will involve
                        demonstratin academic skills,
                        disciplines and methodologies as well
                        as commitment to lifelong learning,
                        intellectual curiosity and intellectual
                        honesty.</p> <br>

                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Academic Honesty:<span>
                            Oceries
                            University will be guided by ethical
                            principles and values to ensure
                            that academic work is conducted
                            with integrity, transparency and
                            accountability. This will involve
                            upholding the highest standards of
                            honesty, fairness and responsibility
                            in all academic pursuits, including
                            research, teaching and learning.</p><br>

                        <p><span style="font-weight: bold; color: rgb(62, 24, 84);">Academic Fairness:<span><br>
                            Oceries
                            University will uphold the principle of ensuring that all students have
                            an equal opportunity to succeed
                            in their academic pursuit, without
                            unfair advantages or disadvantages.
                            Oceries University therefore will
                            crate a learning environment that is
                            inclusive, respectful, and free from
                            bias, where students are judged on
                            their academic merit and efforts</p><br>


                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                         <p><span style="font-weight: bold; color: rgb(62, 24, 84);"> Academic equity:  <span>
                           Oceries
                            University will uphold the principle
                            of ensuring that all students have
                            equal opportunities to succeed in
                            their academic pursuit regardless
                            of their background, identity, or
                            circumstances. It involves addressing
                            systemic barriers and biases that may
                            prevent certain groups of students
                            from achieving their full academic
                            potential.</p><br>

                    </div>
                </div>
            </div>

            <div class="page_6">
                 <div style="width: 100%; height: 10vh;background-color: rgba(62, 24, 84); display: flex; justify-content: start; padding-left: 30px;">
                    <h1>STRATEGIC OBJECTIVES</h1>
                </div>
                <h4 style="font-weight: bold; color: rgb(62, 24, 84);"> STRATEGIC OBJECTIVE ONE: </h4><br>

                <h5>To admit students from all backgrounds with suitable qualification to pursue and benefit from the university education.</h5>

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">


                        <p>The University’s aim is to ensure that
                            prospecting students regardless of
                            their physical locations benefit from the
                            courses that are offered by the University
                            online. The recruitment process therefore
                            embraces all prospecting students
                            regardless of their physical locations
                            as long as they meet the academic
                            requirements set by the university.
                            The delivery method is strictly online,
                            with lecturers and supervisors readily
                            available to offer support to students
                            virtually. In very special and rare cases,
                            prospecting students will be allowed to
                            physically interact with the Lecturers and Supervisors<br>


                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                         <p> To achieve this, the university will
                            strengthen its presence on various
                            social media platforms. The University
                            will work with other colleges and
                            Universities, academic departments and
                            faculties to ensure effective coordination
                            of outreach activity. The University
                            will enhance the undergraduate and
                            graduate admissions processes to
                            ensure equality of opportunity for all
                            applicants, and to improve efficiency
                            and quality of service.</p><br>

                    </div>
                </div>
            </div>


             <div class="page_7">
                 <div style="width: 100%; height: 10vh;background-color: rgba(62, 24, 84); display: flex; justify-content: start; padding-left: 30px;">
                    <h1>STRATEGIC OBJECTIVES</h1>
                </div>
                <h4 style="font-weight: bold; color: rgb(62, 24, 84);"> STRATEGIC OBJECTIVE TWO: </h4><br>

                <h5>To offer a conducive academic environment for all students and
                    graduates to excel during and after leaving the university.</h5>

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">


                        <p>The University will provide specialised
                        modules for individual courses
                        preferably in Portable Document Format
                        (PDF), a video and audio explaining
                        the document. This is also one of the
                        innovations by the University to provide
                        interaction between the learners and
                        the lecturers.<br>

                          <p>Despite the delivery being online, the
                            University will ensure that teaching
                            through video and audio and assessment<br>


                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                         <p> Despite the delivery being online, the
                            University will ensure that teaching
                            through video and audio and assessment</p><br>

                        <p> The University will provide opportunities,
                            through and outside the curriculum, for
                            all students to develop the personal
                            and transferable skills to succeed in a
                            global workplace. The university will
                            also provide opportunities for skills
                            enhancement and career preparation
                            for all our research students.</p>

                    </div>
                </div>
            </div>


            <div class="page_7">
                 <div style="width: 100%; height: 10vh;background-color: rgba(62, 24, 84); display: flex; justify-content: start; padding-left: 30px;">
                    <h1>STRATEGIC OBJECTIVES</h1>
                </div>
                <h4 style="font-weight: bold; color: rgb(62, 24, 84);"> STRATEGIC OBJECTIVE THREE: </h4><br>

                <h5>To Enhance Strength and Stability of the university in all the academic work.</h5>

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">


                        <p>The University will ensure attendance
                            is affordable and accessible for more
                            students and their families through
                            increasing financial support for student
                            scholarships. The university will not
                            compete with other leading universities
                            in charging exorbitant fees to the
                            students, but instead it will charge the
                            fees that will enable the institution
                            to keep afloat while at the same time
                            encouraging more students to pursue
                            their education up to the end.<br>

                          <p><span style="font-weight: bold;">Under the same objective the University</span><br>


                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                          <p><span style="font-weight: bold;">will Attract and retain exceptional
                        faculty and staff through </span> ncreased
                        competitiveness of faculty and staff
                        salaries. The University will maximize
                        employee growth through learning and
                        professional development opportunities
                        and finally will foster a workplace culture
                        that supports personal and community
                        well-being.<br>

                        <p> <span style="font-weight: bold;">will The university will Strengthen financial
                        position</span> the diversification of revenue
                        and explore alternative business models
                        and support structures</p>

                    </div>
                </div>
            </div>


            <div class="page_7">
                
                <h4 style="font-weight: bold; color: rgb(62, 24, 84);"> STRATEGIC OBJECTIVE FOUR: </h4><br>

                <h5 style="font-weight: bold; color: rgb(62, 24, 84);>To foster innovation among students, graduates and other
                    interested academics pursuing further education.</h5>

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">


                        <p> Oceries University will support academic
                            program offerings to meet enrollment
                            demand in current and emerging fields
                            of study. The university will respond to
                            demand at any given time so that the
                            world benefits fully from the university programmes.</p><br>



                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                          <p>The University will continue to utilize
                                technological solutions that enhance
                                productivity and creativity.</p><br>

                    </div>
                </div>
            </div>


            <div class="page_1" style="height: fit-content; width:100%;">
                <img src="/assets/Images/stplaning1e.png" style="height: 70vh; width: 100%;">
            </div>


        </div>

    </div>

  
    
</body>

{{ template "footer" }}

</html>