<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.2">
    <style>
        body{
        background-image: url('/assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="aboutus">
        <h1>About Us</h1>
        <p>
            The University College of Metaphysical Sciences was established in 2024 and the first intake took place on 1st September 2024.  UCMS offers  online courses, through text, audio and video and currently has students  coming from corners of the world. 
            UCMS’s campus is based in Lusaka, Zambia where programmes are coordinated. The Lusaka Campus has a Library, where registered Metaphysical Students can access material for their course.
        </p>
    </div>
    <div style="height: fit-content;">
        <h1>OCERIES STRATEGIC PLAN</h1>

        <div>
            <div class="page_1" style="height: fit-content; width:100%;">
                <img src="/assets/Images/stplaning1.png" style="height: 70vh; width: 100%;">
            </div>

            <div class="page_2">
                <div style="width: 100%; height: 10vh; display: flex; justify-content: space-between; background-color: rgba(62, 24 ,84);">
                    <div style="display: inline-block; width: 60%; height: 100%;">
                        <h1 style="color: white; font-size: 2em;">A message from the Principal</h1>
                    </div>
                    <div style="display: inline-block; width: 30%; height: 100%;">
                        <img src="/assets/Images/principalHS.png" style="height: 70vh; width: 100%;">
                    </div>
                </div>
                <div>

                    <p>Dear Friends and all stakeholders,</p><br>
                    <p>I am pleased to present to you Oceries University of Metaphysicla Sciences
                    strategic plan, which was developed in consultation with students, stakeholders
                    and the institution faculty. The Strategic Plan, presents the vision and mission of
                    Oceries University of Metaphysical Sciences which is anchored on the objectives.
                    The University has Four objectives, which is To admit students from all backgrounds
                    with suitable qualification to pursue and benefit from the university education.</p>
                    <p>The second objective is to offer a conducive academic environment for all students
                    and graduates to excel during and after leaving the university.</p>
                    <p>The third objective is to to Enhance Strength and Stability of the university in all
                    the academic work.</p>
                    <p>And the final objective is to Foster Innovation among students, graduates and
                    other interested academics pursuing further education.</p>
                    <p>The ultimate goal of this strategic plan is To awaken humanity to understand
                    the purpose and mission on earth through pursuit of knowledge, Research and
                    Innovation.</p>
                    <p>Blessings to you all!</p>

                    <p>Dr. Felix Kunda
                    Principal, OUMS</p>

                </div>
            </div>

            <div class="page_3" style="height: fit-content; width: 100%">
                <div style="width: 100%; height: 10vh;background-color: rgba(62, 24, 84); display: flex; justify-content: start; padding-left: 30px;">
                    <h1>Introduction</h1>
                </div>

                <div style="display: flex; width: 100%">
                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                        <p>Welcome to our strategic plan for the
                        Oceries University of Metaphysical
                        Sciences. The Strategic Plan will cover
                        the period from 2025 to 2030. Oceries
                        University of Metaphysical Sciences,
                        brings on the global level education that
                        provides an opportunity for all to learn
                        regardless of their physical locations.</p> <br>
                        <p>Oceries University of Metaphysical
                        Sciences is being recognized nationally
                        and globally as a leading provider
                        in higher education, with numerous
                        indicators of the positive impact on the
                        students and the world.</p><br>
                        <p>The University is now poised to build
                        on these strengths by taking the bold
                        decisions to respond to the emerging
                        trends at global level, while remaining
                        true to awaken humanity is purpose of
                        life.</p><br>
                        <p>The University was founded in 2024,
                        in Zambia with a focus of providing
                        education at global level. The
                        university has realized that we now
                        live in an information world with more
                        technologically complex, a world in
                        which communication, discovery, and
                        change occur at a pace unimagined an
                        opportunity Oceries has embraced.</p><br>
                        <p>Our plan for the University’s next
                        chapter of excellence is based on
                        extensive consultation with campus
                        stakeholders. The plan highlights four
                        Strategic objectives, that will organize</p>

                    </div>

                    <div style="display: inline-block; width: 45%; height: fit-content; padding: 20px;">
                        <p>the University’s efforts to maintain our
                        strength and grow where opportunities
                        arise to support student success and
                        contribute to our disciplines, to the
                        nation, and to the world.</p><br>
                        <p>This strategic plan is written broadly, to
                        provide guidance and not constraint. The
                        Strategic Directions, and the Core Values
                        they express, are central to the success
                        of Oceries University of Metaphysical
                        Sciences and its students. Our intention
                        is to provide a framework that will lead
                        to creativity and identify the ways that
                        will help move the University toward our
                        collective Vision.</p><br>
                        <p>A university-wide Implementation Team
                        will coordinate accountability efforts and
                        develop an assessment plan by which
                        we will track our successes and identify
                        where we need to do more or better
                        as Oceries University of Metaphysical
                        Sciences.</p><br>
                        <p>The Strategic plan provides a
                        framework for the University to exhibit
                        its characteristic financial discipline,
                        while making the most of our resources
                        in the service of our Mission and the
                        advancement of our Vision.</p><br>
                        <p>This document is the result of extensive
                        input from the campus community,
                        including surveys, forums,</p><br>
                    <p>and group discussions. The energetic</p>
                       engagement in this process from al 
                    </div>
                </div>
            </div>

            <div class="page_4">
            </div>

            <div class="page_5">
            </div>


        </div>

    </div>

  
    
</body>

{{ template "footer" }}

</html>