
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {{ define "student_cource_assesment"}}

        <div class="assesment_box">
    
            <h2 style="text-align: center;">Cource Name</h2>

            
            <table class="assesment_table" style="margin: auto;">
                <thead>

                <tr>
                    <th>Assesment Title</th>
                    <th>Grade</th>
                    <th>Comment</th>
                </tr>
                </thead>

                <tbody>

                    {{ range .AssesmentList}}

                        <tr>
                            <td>{{ .Assesment_Title }}</td>
                            <td>{{ .Grade}}</td>
                            <td>{{ .Comment }}</td>
                
                        </tr>

                    {{ end }}

                
            </tbody>

            </table>
            <div style="display: none;">
                <form action="">
                    <input type="file"><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>


    {{ end }}





{{ define "grade_tr"}}

    <tr>
    <td>.Assesment_Title</td>
    <td>.Assesment_Grade</td>
    <td>.Assesment_Comment</td>
    <td><a href="/deleteassesmentresults?uuid={{ .UUID}}" style="text-decoration: underline; cursor: pointer;"></a>Delete</td>

    </tr> 




{{ end }}

{{ define "grade_assingment"}}

<div class="grade_div">
    <div class="assingment_name">Assesment</div>
    
    <div class="assingment_form_in">
        <form action="/grade_assingment">
            <input class="assesment_input" type="text" name="grade" placeholder="Enter Grade">
            <input class="assesment_input" type="text" placeholder="Enter Remarks">
            
            <select class="select_input" name="passed" id="">
                <option value="passed">
                    Passed
                </option>
                <option value="rewrite">Rewrite</option>
            </select>
            <button type="submit">Save</button>
        </form>
    </div>
</div>

{{ end }}
</body>
</html>













