<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Create Exam</title>

    <style>
        
        .question_div_one{
            width: 100%;
            height: 400px;
            border: solid 1px rgb(32, 0, 62);
            
        }

    </style>
</head>



{{ define "create_exam_template"}}
<body>
    <div class="main_div">
        <button 
        class="create_button"
        hx-get = "/programdetails/acams"
        hx-target = "#maincontaint">
        
        Details
    </button>

    <h3 class="h3_heading">{{ .Cource_Data.Cource_Name}}</h3>
    <div class="questions">
        



        {{ if .Present }}

        <div class="section_a">
            <div id="question_list" class="section_a_question">
                

            </div>
            <div style="display: flex; width: 100%; height: 50px;justify-content: end;">
                <button
                hx-post="/delete_exam_questions?uuid={{ .ExamData.UUID}}"
                hx-target="deleted_succesfully"
                hx-swap="innerHTML"
                class="delete_button">Delete Exam</button>
            </div>

            <div style="width: 100%; height: 30px;">
                <p id="deleted_succesfully" style="text-align: center; color: rgb(32, 0, 62); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1.3em;">{{ . }}</p>
            </div>

        </div>


        {{ else }}
        <div class="section_a">
            <div id="question_list" class="section_a_question">
                

            </div>
            
        
            <div>
            <form hx-post="/addexam?program_name={{ .Cource_Data.Program_Name}}&cource_name={{ .Cource_Data.Cource_Name}}&uuid={{.Cource_Data.UUID}}&section=A"
                    hx-target="#question_list"
                    hx-swap="beforeend">
                <label for="question" class="compose">Compose Question</label><br>

                <div style="background-color: rgb(32, 0, 62); padding: 5px; margin-bottom:5px;">
                    <label for="answer"  class="compose" style=" color: white;">Section A</label><br>
                </div>
                <textarea type="text" class="question_div_one" style="font-size: 1em; padding:5px;" name="question_a" id="" >Enter section A questions one at a time.
                
                    
                </textarea><br>

                <h4>Enter Answer</h4>
                <label for="A" style="display: inline;">True</label>
                <input type="radio" id="A" name="answer" value="true" class="radio_btn" style="height:20px; width:20px; vertical-align: middle;">
                <label for="B" style="display: inline;">False</label>
                <input type="radio" id="B" name="answer" value="false" class="radio_btn" style="height:20px; width:20px; vertical-align: middle;"><br>


                <button type="submit" class="create_button" style="margin-top: 5px;">Save</button>
            </form>

            <!-- SECTION B QUESTIONS -->

            <form hx-post="/addexam?program_name={{ .Cource_Data.Program_Name}}&cource_name={{ .Cource_Data.Cource_Name}}&uuid={{ .Cource_Data.UUID}}&section=B"
            hx-target="#question_list"
            hx-swap="beforeend">
                <div style="background-color: rgb(32, 0, 62); padding: 5px; margin-bottom:5px;">
                    <label for="answer"  class="compose" style=" color: white;">Section B</label><br>
                </div>
                <textarea name="question_b"  class="question_div_one" style="font-size: 1em; padding:5px;">Enter section B qustion here  one at a time.
                </textarea>

                <button type="submit" class="create_button">Save</button>


            </form>

            <!-- EXAM FINE DETAILS  -->

            <form>

                <input type="text" name="program_name" id="" style="padding: 5px; width: 100%; height: 30px; border:solid 1px rgb(32, 0, 62); padding-inline: 5px; margin: 5px;" placeholder="Program Name">

                <input type="text" name="cource_name" id="" style="padding: 5px; width: 100%; height: 30px; border:solid 1px rgb(32, 0, 62); padding-inline: 5px; margin: 5px;" placeholder="Cource Name">

                <input type="text" name="cource_code" id="" style="padding: 5px; width: 100%; height: 30px; border:solid 1px rgb(32, 0, 62); padding-inline: 5px; margin: 5px;" placeholder="Cource Code">

                <input type="text" name="exam_time" id="" style="padding: 5px; width: 100%; height: 30px; border:solid 1px rgb(32, 0, 62); padding-inline: 5px; margin: 5px;" placeholder="Enter time in minutes">

                

                <input type="text" name="total_marks" id="" style="padding: 5px; width: 100%; height: 30px; border:solid 1px rgb(32, 0, 62); padding-inline: 5px; margin: 5px;" placeholder="Total Marks"><br>

                <button hx-post="/examdetails?program_name={{ .Cource_Data.Program_Name}}&cource_name={{ .Cource_Data.Cource_Name}}&uuid={{.Cource_Data.UUID}}&section=save"
                hx-target="#details_saved"
                hx-swap="innerHTML" type="submit" class="create_button">Save Details</button>
                <button hx-post="/examdetails?program_name={{ .Cource_Data.Program_Name}}&cource_name={{ .Cource_Data.Cource_Name}}&uuid={{.Cource_Data.UUID}}&section=update"
                hx-target="#details_saved"
                hx-swap="innerHTML" type="submit" class="create_button">Update Details</button>


            </form>
        </div>

        <div id="details_saved" style="width: 100%; height: 45px; background-color: rgb(32, 0, 62);">
            
        </div>
        </div>


        {{ end }}
        
    </div>
    </div>
</body>

{{ end }}

</html>




{{ define "details_saved_temp"}}
<p id="cource_data_present" style="text-align: center; width: 100%; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: lighter; font-size: 1.2em;" >{{ .Details_Messages}}</p>
{{ end }}



{{ define "questions_out_a"}}
    
    <div class="question_out">
        
        <div>
          
        <p>{{ .Questions.Question}}</p>
        <p>Answer:{{ .Questions.Answer}}</p>
           
        
        </div>
    </div>
    
  
{{ end }}



{{ define "questions_out_b"}}
<div class="question_out">
        
    <div>
    <p>{{ .Questions.Question}}</p>
    </div>
</div>
{{ end }}

{{ define "question_saved"}}
    <div class="edit_question">
        <button class="create_button">Update</button>
        <button class="delete_button">Delete</button>
    </div>


{{ end }}

{{ define "question_section_b"}}
    
    <div class="question">
        <div class="edit_question">
            <button class="update">Update</button>
            <button class="delete">Delete</button>
        </div>
        <div>
            <p>{{ .Section}}</p>
            <p>{{.Question}}</p>
        </div>
        </div>
    
  
{{ end }}