<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <p>Curriculum</p></title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.1">
    <link rel="stylesheet" href="/assets/css/curriculum.css?v=1.0">

    <style>
        body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="aboutus">
        {{ template "curicculum"}}
    </div>

  
    
</body>
</html>
</body>
</html>

{{ define "curicculum"}}

<div class="p-1 rounded">
  <div class="col-sm-8 py-5 mx-auto">
   <div class="program">
    <h3 class="program_title"></h3>
    <div class="cource_list">

      <div class="cource">
        working out 
      </div>
      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>
      <div class="cource">
        working out 
      </div>
      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>
      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>
      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>
      <div class="cource">
        working out 
      </div>

      <div class="cource">
        working out 
      </div>



      
    </div>

   </div>
</div>

</div>
{{ end }}