<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.1">
    <link rel="stylesheet" href="/assets/css/curriculum.css?v=1.2">

    <style>
        body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="curiculum">
        {{ template "curicculum"}}
    </div>

  
    
</body>
</html>
</body>
{{ template "footer" }}
</html>

{{ define "curicculum"}}

<div class="p-1 rounded">

  <div class="col-sm-8 py-5 mx-auto">


   <div class="program">
    <h1>Curriculum</h1>

    <h3 class="program_title">Award of Certificate of Attendance in Metaphysical Sciences</h3>
    <div class="cource_list">

      <div class="cource">
        Communication Skills
      </div>
      <div class="cource">
        Public Speaking
      </div>

      <div class="cource">
        Intuition
      </div>
      <div class="cource">
        Public Relations
      </div>
      <div class="cource">
        Anger Management
      </div>

      <div class="cource">
        Connecting With Angels
      </div>

      <div class="cource">
        Critical Thinking
      </div>
      <div class="cource">
        Financial Education
      </div>

      
    </div>

   </div>


   <div class="program">
    <h3 class="program_title">Award of Certificate in Metaphysical Sciences</h3>
    <div class="cource_list">

      <div class="cource">
        Mindfulness
      </div>
      <div class="cource">
        Dreams and Dreaming
      </div>

      <div class="cource">
        Energy of Money
      </div>
      <div class="cource">
        Crystals and Gemstones
      </div>
      <div class="cource">
        Forgiveness
      </div>

      <div class="cource">
        Cleansing and Fasting 
      </div>

      <div class="cource">
        Astrology
      </div>
      <div class="cource">
        African Culture and Traditions
      </div>
      <div class="cource">
        Transforming personalities
      </div>

      
    </div>

   </div>

   <div class="program">
    <h3 class="program_title">Award of Diploma in Metaphysical Sciences</h3>
    <div class="cource_list">

      <div class="cource">
        Creative_Writing
      </div>
      <div class="cource">
        Understanding Miracle
      </div>

      <div class="cource">
        Channeling Skills
      </div>
      <div class="cource">
        Enneagram
      </div>
      <div class="cource">
        Mythology on Gods and Goddess
      </div>

      <div class="cource">
        Herbs
      </div>

      <div class="cource">
        Meditation skills
      </div>
      <div class="cource">
        Mantras and Mudras
      </div>
      <div class="cource">
        Divinations
      </div>

      <div class="cource">
        Basics in Research
      </div>
      <div class="cource">
        Understanding Propaganda
      </div>
      <div class="cource">
        Greate Spirituals Teacherd
      </div>

      <div class="cource">
        Reprogramming
      </div>
      <div class="cource">
        Shamanism
      </div>
      <div class="cource">
        Mystery Schools in the world
      </div>

      <div class="cource">
        Law_and_Ethics in Metaphysical Sciences
      </div>
      <div class="cource">
        Non Violent Communication
      </div>
    </div>

   </div>

   <div class="program">
    <h3 class="program_title">Award of Bachelors Degree in Metaphysical Sciences</h3>
    <div class="cource_list">

      <div class="cource">
        Causes and Core Issues in Beliefs
      </div>
      <div class="cource">
        Emotional Well Being
      </div>

      <div class="cource">
        Spiritual symbols and colours
      </div>
      <div class="cource">
        Psychic Skills
      </div>
      <div class="cource">
        Shadow Work
      </div>

      <div class="cource">
        The Craft 
      </div>

      <div class="cource">
        Hypnosis and Beyond
      </div>
      <div class="cource">
        Mysterious experiences 
      </div>
      <div class="cource">
        Manifestation skills
      </div>

      <div class="cource">
        Unlocking Creativity 
      </div>
      <div class="cource">
        Transpersonal counselling
      </div>
      <div class="cource">
        African_Healing Arts
      </div>

      <div class="cource">
        Ceremonies of the World 
      </div>
      <div class="cource">
        Mother Earth
      </div>
      <div class="cource">
        The_Art of Placement 
      </div>

      <div class="cource">
        Chakras and Auras 
      </div>
      <div class="cource">
        Transforming personalities 
      </div>

      <div class="cource">
        Mayan Calendar
      </div>

      <div class="cource">
        Polarity Therapy
      </div>
      <div class="cource">
        Introduction To Meditation 
      </div>

      <div class="cource">
        Health and Nutrition 
      </div>

      <div class="cource">
        Setting up a business
      </div>
     
    </div>

   </div>

</div>

</div>
{{ end }}