<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.1">
    <link rel="stylesheet" href="/assets/css/curriculum.css?v=1.2">

    <style>
        body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="curiculum">
        {{ template "curicculum"}}
    </div>

  
    
</body>
</html>
</body>
{{ template "footer" }}
</html>

{{ define "curicculum"}}

<div class="p-1 rounded">

  <div class="col-sm-8 py-5 mx-auto">


   <div class="program">
    <h1>Curriculum</h1>


    <p>
      University College of Metaphysical Sciences offers an opportunity to aspiring student to enroll at any time of the year. This offer also extends to an aspiring student deciding when to write the final examination in the course that is offered. However the graduation is only twice per year. In July and December of every month.
    </p>

    <h3 class="program_title">Award of Certificate of Attendance in Metaphysical Sciences</h3>
    <p>
      For the award of certificate of attendance in metaphysical Sciences, the aspiring student is required to study up to 9 courses that are provided before moving to the award of a Certificate in Metaphysical Science. The minimum duration for the Award of Certificate of Attendance in Metaphysical Sciences is  a minimum of 3 months. The related fees for the entire course is only USD 100 or local currency.  The following are the courses related to the course.
    </p>
    <div class="cource_list">

      <div class="cource">
        Communication Skills
      </div>
      <div class="cource">
        Public Speaking
      </div>

      <div class="cource">
        Intuition
      </div>
      <div class="cource">
        Public Relations
      </div>
      <div class="cource">
        Anger Management
      </div>

      <div class="cource">
        Connecting With Angels
      </div>

      <div class="cource">
        Critical Thinking
      </div>
      <div class="cource">
        Financial Education
      </div>

      
    </div>

   </div>


   <div class="program">
    <h3 class="program_title">Award of Certificate in Metaphysical Sciences</h3>
    <p>
      The entry requirements for this  programme is a Certificate of Attendance in Metaphysical Sciences. In this course the aspiring student is expected to study and pass 9 courses before being awarded the Certificate.  The duration for this programme is a minimum of 3 months. The related fees for the entire course is only USD 150 or local currency equivalent.  Among the courses found in this programme are Dreams and Dreaming, Energy of money and many others.
    </p>
    <div class="cource_list">

      <div class="cource">
        Mindfulness
      </div>
      <div class="cource">
        Dreams and Dreaming
      </div>

      <div class="cource">
        Energy of Money
      </div>
      <div class="cource">
        Crystals and Gemstones
      </div>
      <div class="cource">
        Forgiveness
      </div>

      <div class="cource">
        Cleansing and Fasting 
      </div>

      <div class="cource">
        Astrology
      </div>
      <div class="cource">
        African Culture and Traditions
      </div>
      <div class="cource">
        Transforming personalities
      </div>

      
    </div>

   </div>

   <div class="program">
    <h3 class="program_title">Award of Diploma in Metaphysical Sciences</h3>

    <p>
      The entry requirements for this programme is a Certificate in Metaphysical Sciences. In this course an aspiring student is expected to study and 18 courses being awarded a Diploma in Metaphysical Sciences. The duration for this programme is a minimum of 12 months. The related fees for the entire course is only USD 300 or local currency equivalent.  Among the courses in this programme are Creative Writing, Understanding miracles, Mystery Schools in the World, Basics in Research and many others.
    </p>
    <div class="cource_list">

      <div class="cource">
        Creative_Writing
      </div>
      <div class="cource">
        Understanding Miracle
      </div>

      <div class="cource">
        Channeling Skills
      </div>
      <div class="cource">
        Enneagram
      </div>
      <div class="cource">
        Mythology on Gods and Goddess
      </div>

      <div class="cource">
        Herbs
      </div>

      <div class="cource">
        Meditation skills
      </div>
      <div class="cource">
        Mantras and Mudras
      </div>
      <div class="cource">
        Divinations
      </div>

      <div class="cource">
        Basics in Research
      </div>
      <div class="cource">
        Understanding Propaganda
      </div>
      <div class="cource">
        Greate Spirituals Teacherd
      </div>

      <div class="cource">
        Reprogramming
      </div>
      <div class="cource">
        Shamanism
      </div>
      <div class="cource">
        Mystery Schools in the world
      </div>

      <div class="cource">
        Law and Ethics in Metaphysical Sciences
      </div>
      <div class="cource">
        Non Violent Communication
      </div>
    </div>

   </div>

   <div class="program">
    <h3 class="program_title">Award of Bachelors Degree in Metaphysical Sciences</h3>

    <p>
      
      The entry requirements for this programme is a Diploma in Metaphysical Sciences. In this programme, an aspiring student is expected to study and pass 23 courses before being awarded a Bachelors degree in Metaphysical Sciences. The duration for this programme is a minimum of 18 months. The related fees for the entire course is only USD 450 or local currency equivalent. Among the courses in this programme are Emotional Well being, spiritual symbols and colours, psychic skills, mysterious experiences and many others.
    </p>
    <div class="cource_list">

      <div class="cource">
        Causes and Core Issues in Beliefs
      </div>
      <div class="cource">
        Emotional Well Being
      </div>

      <div class="cource">
        Spiritual symbols and colours
      </div>
      <div class="cource">
        Psychic Skills
      </div>
      <div class="cource">
        Shadow Work
      </div>

      <div class="cource">
        The Craft 
      </div>

      <div class="cource">
        Hypnosis and Beyond
      </div>
      <div class="cource">
        Mysterious experiences 
      </div>
      <div class="cource">
        Manifestation skills
      </div>

      <div class="cource">
        Unlocking Creativity 
      </div>
      <div class="cource">
        Transpersonal counselling
      </div>
      <div class="cource">
        African_Healing Arts
      </div>

      <div class="cource">
        Ceremonies of the World 
      </div>
      <div class="cource">
        Mother Earth
      </div>
      <div class="cource">
        The Art of Placement 
      </div>

      <div class="cource">
        Chakras and Auras 
      </div>
      <div class="cource">
        Transforming personalities 
      </div>

      <div class="cource">
        Mayan Calendar
      </div>

      <div class="cource">
        Polarity Therapy
      </div>
      <div class="cource">
        Introduction To Meditation 
      </div>

      <div class="cource">
        Health and Nutrition 
      </div>

      <div class="cource">
        Setting up a business
      </div>
     
    </div>

   </div>

</div>

</div>
{{ end }}