<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/exam_css.css">
    <style>
        
        .timer_p {
            font-weight: bold;
            font-size: 1.1em;
            text-decoration: underline;
        }
    </style>
    
</head>
<body>
{{ define "write_div"}}
    <div class="header"> 
        <div class="timer_div">
            <p class="timer_p">Remaining Time <span id="timer_count"> </span> <span id="hr">00</span>hr <span id="min">00</span>min <span id="sec"></span>sec</p>
        </div>
        <div class="exam_details">
            <table>
                <tbody>
                    <tr>
                        <th class="title">Program</th>
                        <td>{{ .Program_Name}}</td>
                    </tr>
                    <tr>
                        <th class="title">Cource Name</th>
                        <td>{{ .Cource_Name}}</td>

                    </tr>
                    <tr>
                        <th class="title">Cource Code</th>
                        <td>{{ .Cource_Code}}</td>
                    </tr>
                    <tr>
                        <th class="title">Date</th>
                        <td>{{ .Date}}</td>
                    </tr>
                    <tr>
                        <th class="title">Start Time</th>
                        <td>{{ .Start_Time}}</td>
                    </tr>
                    <tr>
                        <th class="title">Submision Time</th>
                        <td>{{ .Submision_Time}}</td>
                    </tr>
                    <tr>
                        <th class="title">Duration</th>
                        <td>{{ .Cource_Code}}</td>
                    </tr>
                    <tr>
                        <th class="title">Total  Marks</th>
                        <td>{{ .Total_Marks}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="instractions">
                <ol style="list-style: decimal;">
                    <li>The question paper has two sections, A and B
                        <ol style="list-style: lower-roman;">
                            <li>Answer <span style="font-weight: bolder;">ALL</span> questions in Section A,</li>
                            <li>and answer only <span>THREE</span> Questions out of the seven Questions in Section B</li>
                        </ol>
                    </li>
                    <li>Section A carries 40 Marks and Section B carries 60 Marks</li>
                    <li>University College of Metaphysical Sciences (OCMPS) allows the student to attempt the
                        final examinations three times within 7 days. There after a different supplementary final
                        examination will be PREPARED and availed to the student within three.</li>
                </ol>
            </div>
            <div>
                <p class="warning_text">
                    YOU ARE YOUR OWN OWNER FOR THIS EXAMINATION. AND DO NOT SHARE WITH NON REGISTERED STUDENTS OF OCERIES UNIVERSITY OF METAPHYSICAL SCIENCES.
                </p>
            </div>
        </div>
    </div>
    <div class="write_div">
        <form hx-post="/exam?cource_code={{ .Cource_Code}}&student_uuid={{ .Student_UUID}}">
            {{ if .Section "A"}}
                {{ template "section_a" .}}
            {{ else }}
                {{ template "section_b" .}}
            {{ end }}
            
            <button class="submit_exam">Submit</button>
        </form>

    </div>

    <script>
        var hr = 0;
    var minute = 0;
    var second = 0;
    window.onload = function() {
    var incrementSecond = function () {
        window.secondsPassed += 1;

        second = window.secondsPassed;
        
        document.getElementById("sec").innerHTML = secondsPassed;
        
        if( window.secondsPassed == 60 ){
            window.secondsPassed = 0;
            minute ++ ;
            document.getElementById("min").innerHTML = minute;


        }

        if (minute == 60){
            minute = 0;
            hr ++ ;
            document.getElementById("hr").innerHTML = hr;

        }



        
    }

    window.secondsPassed = 0;
    window.myTimer = setInterval(incrementSecond, 1000);
    }
    var onSubmitClick = function() {
    window.clearInterval(window.myTimer); // always clean resources
    // call some other function to do the submit
    }
    </script>
{{ end }}



{{ define "section_a"}}

    <p>SECTION A</p>
    <p>
        ANSWER ALL THE QUESTIONS IN THIS SECTION, QUESTION 1 TO 20 CARRIES ONE MARK.
        KINDLY NOTE THAT WRONG ANSWER WILL RESULT IN THE DEDUCTION OF A MARK
    </p>
    {{ range .Questiions_A }}
    <div>
        <p class="section_question">{{ .Question_Section_A}}</p>
        <input type="radio" name="{{ .Question_Number}}" value="true">
        <input type="radio" name="{{ .Question_Number}}" value="false">
    </div>

    {{ end }}
{{ end }}

{{ define "section_b"}}
    <p>SECTION B</p>
    <p>Answer THREE questions only</p>

    {{ range .Questions_B}}
    <div>
        <p class="section_question">{{ .Question_Section_B}}</p>
        <textarea name="{{ .Question_Number}}" class="section_b_answer" ></textarea>
        
    </div>
    {{ end }}

{{ end }}


</body>
</html>

<!-- <form action="/action_page.php">
    <p>Please select your favorite Web language:</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">HTML</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">CSS</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">JavaScript</label>
  
    <br>  
  
    <p>Please select your age:</p>
    <input type="radio" id="age1" name="age" value="30">
    <label for="age1">0 - 30</label><br>
    <input type="radio" id="age2" name="age" value="60">
    <label for="age2">31 - 60</label><br>  
    <input type="radio" id="age3" name="age" value="100">
    <label for="age3">61 - 100</label><br><br>
    <input type="submit" value="Submit">
  </form>
  
  </body> -->