<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <style>
        body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body>
    {{ template "Header"}}

    <div class="container custom_two my-5" id="loadContent"></div>
        <div class="p-1 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Frequently Asked Questions</h1>
            <p class="fs-5">
              The University College of Metaphysical Sciences (UCMS), was established with you in mind. Currently, people from world over are looking for knowledge that will improve their relationship not only with each other but the operations of the universe as well. 
              
              The University College of Metaphysical Sciences is here to awaken your purpose and mission on earth.  With such a realization, all will live in harmony.
              
              The information that you will acquire from the University College of Metaphysical Sciences, will create a happy person in you, live a health life and easily get any employment that you aspire in your life time. It is encouraged that every human being on earth MUST take this course, for life to be lived in full.
              
              Welcome to the awakened family!
              </p>
            
        </div>


      </div>
       
    </div>

</body>

{{ template "footer" }}
</html>