<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css">

    <style>
        body{
        background-image: url('assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
}
    </style>
</head>
<body>
    {{ template "Header"}}

    <div class="aboutus" style="height: 90vh; overflow-y: auto;">
      <h1>Frequently Asked Questions</h1>
      <p>
          When was Oceris University of Metaphysical Sciences (OUCMS) founded?
          <p></p>
          
      </p>
  </div>
        

</body>

{{ template "footer" }}
</html>