{{define "footer"}}
<div style="height: 90px;
            width: 100%;
            background-color: rgb(32, 0, 62);
            border: solid 1px rgb(32, 0, 62);
            padding-left: 40px;
            padding-top: 10px;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: medium; color: white;
    font-size: 0.7em;">OCERIS UNIVERSITY OF METAPHYSICAL SCIENCE</p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: small; color: white; 
    font-size: 0.55em;">mulubwa technologies</p>
    
</div>
{{end}}