<!doctype html>
<html lang="en">
    <head>
	 {{ template "head_temp"}}

    </head>



    <body>
   
	{{ template "adminheadertemp" .}}
 
 
	
	{{  template "side_bar" .}}
	  <div class="main">
			  
		{{ template "messageAdmin" .}}
	  </div>
	  
	  <div class="hidden_main" style="overflow-x: scroll">
		<button onclick=msglogOpen()  class="openMsg">
			Msg
		  </button>
		<h2 class="dashboard_name" style="padding-left: 60px">
			Messages
		</h2>
		<hr>
		<div class="messagedivadmin">

			
			<div class="adminleft">
				<div id="readmessagesdiv">

				</div>
			   
			</div>

		</div>
	  
	  </div>
	  
	
	 
		

	  
	  <div class="hiddenmsglog" id="hiddenmsglog">
		<div class="closeMsg" style="height: 45px; padding: 3px;">
			<button onclick="msglogClose()"> X </button>
		</div>
		
		{{ template "messageslog" .}}
			
			
	  </div>
	  
	<script>
		
		
		function msglogOpen(){
			const msglogs = document.getElementById('hiddenmsglog')
			   msglogs.style.display = 'block'
			   console.log("open side");
		  }

		  function msglogClose(){
			   const msglogs = document.querySelector('.hiddenmsglog')
			   msglogs.style.display = 'none'
			   console.log("open side");
		  }
	</script>

  </body>
</html>











{{define "messageAdmin"}} 
    <h2 class="dashboard_name">
        Messages
    </h2>
    <hr>
    <div class="messagedivadmin">

        
        <div class="adminleft">
            <div id="readmessagesdiv">

            </div>
           
        </div>


        <div class="adminright">
            <div class="search">
                <form hx-get="/getstudent"
                    hx-target="#messagelog"
                    hx-swap="innerHTML">
                    <input class="input_st" type="text" placeholder="Student Email Address">
                    <button class="btn_st" style="margin-top: 5px;">
                        Search
                    </button>
                </form>
            </div>
            <div id="messagelog">
                {{ template "messageslog" .}}
            </div>
        </div>

    </div>
{{end}}


{{ define "messageslog"}}

    {{ range .Msg}}

        {{ if .Seen_Admin}}
        <div class="messagelogseen"
                    hx-get="/readmessageadmin?student_uuid={{.Student_UUID}}&message_seen=seen"
                    hx-target="#readmessagesdiv"
                    hx-swap="innerHTML">
            <div class="senderdetails"> 
                <p>{{ .Sender_Name }}</p>
            </div>
            <div class="message">
                <p class="messagetext">
                    {{ .Message}}
                </p>
                <div class="datecreated">
                    <p>{{.Date}}</p>
                </div>
            </div>
        </div>
        {{ else }}
                <div class="messagelognotseen"
                    hx-get="/readmessageadmin?student_uuid={{.Student_UUID}}&message_seen=not"
                    hx-target="#readmessagesdiv"
                    hx-swap="innerHTML">
                    <div class="senderdetails"> 
                        <P>{{.Sender_Name}}</P>
                    </div>
                    <div class="message">
                        <p class="messagetext">
                            {{ .Message}}
                        </p>
                    </div>
                    <div class="datecreated">
                        <p>{{ .Date }}</p>
                    </div>

                </div>

        {{ end }}

    {{ end }}
{{end}}


{{ define "composemessage"}} 
<div class="message_box">
    <div class="messages" id="messageslist">
        
       
    </div>
 
    <div class="message_writer">
        <form hx-post="/composemessage"
            hx-target="#messageslist"
            hx-swap="beforeend"
            hx-on::after-request="this.reset()">
            
            <input type="text" name="studentdetails" class="composemessage" placeholder="Student number">

            <input type="text" placeholder="Message" name="message_content" class="writemessage">
            <div class="btnend">
                <button type="submit" class="sendmessagebtn">Send</button>
            </div>
            
        </form>
    </div>
  
</div>

{{end}}


{{ define "readMessagesAdmin"}}
    <div class="message_box_admin">
        <h5><a href="/studentedataadmin/{{ .StInfo.UUID }}"></a>{{ .StInfo.First_Name}} {{ .StInfo.Last_Name}} </h5>
        <div class="messages" id="messageslist">
            
           {{ range .Messages }}
                {{ if .Sender}}
                    {{template "left" .}}

                {{else}}
                    {{ template "right" .}}

                {{end}}
                
           {{end}}

        </div>
     
        <div class="message_writer" >
            <form hx-post="/sendmessage?student_uuid={{.StInfo.UUID}}&from=admin"
                hx-target="#messageslist"
                hx-swap="beforeend"
                hx-on::after-request="this.reset()">
                <textarea name="message_content" style="width: 100%; margin-bottom: 10px; margin-top:10px; border: solid 1px rgb(32, 0, 62); border-radius: 3px; padding-left: 4px;"></textarea>
                <button type="submit" class="send_message_btn" style="display:block;">Submit</button>
            </form>
        </div>
      
    </div>

{{end}}
