
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <div class="mainnewsdiv">

        <div class="left">
        <div class="newsimagediv">
            <img src="/assets/news/newsone/newsone.png" alt="Everyone will be accorded an opportunity to study Metaphysical Sciences in order to understand one’s purpose in life." class="newsimage">
        </div>
    
        <div class="newsarticle">
            <div class="newsheader">
                <h2 class="newsheadertext">Campus opened in Lusaka for Metaphysical Sciences</h2>
                <h5 class="authername">By:Dr. Felix Kunda</h5>
            </div>
    
            <div class="newscontent">
                <p class="newsparagraphs">
    
                    A University College on Metaphysical Sciences (UCMS) has been established in Lusaka, Zambia to provide online education from Certificate up doctoral level. The University opened its door to the first students on 1st September 2024 with an overwhelming response from students from Zambia and Abroad.
                    
                    UCMS Vice Chancellor Dr. Felix Kunda said the university will provide an opportunity to humanity world over to be awakened and understand “our existence earth”.
                    Dr. Kunda said, humanity has many questions  such as “who we are, where did we come from, where are we going, what is reality” and many others which needs answers.
                    “Some of the answers can only be found at personal level, when an individual enrolls in the Metaphysical Course.” Said Dr. Kunda.
                    UCMS is offering an opportunity for humanity to study in-depth and be able to find answers for themselves once they become awakened to reality.
                    The structure of the course is enabling everyone interested to be eligible, especially the vulnerable in society who have been oppressed and denied an opportunity to be educated. UMS is offering  life long education that improves students in all topics that concerns humanity’s living on earth.  
                    </p>
    
                
            </div>
        </div>
    
        </div>
        <div class="right">
            <h1 class="news">
                News
            </h1>
            <div class="newssample" style="background-image: url(/assets/news/newsone/newsone.png); background-repeat: no-repeat;
            background-size: 100%, 100%;">
    
                <div class="spacefiller">
    
                </div>
               
                <div class="newssummary">
                    <p> A University College on Metaphysical Sciences (UCMS) has been established in Lusaka, Zambia to provide online education from Certificate up doctoral level. The University opened its door to the first students on 1st September 2024 with an overwhelming response from students from Zambia and Abroad.
                    
                        UCMS Vice Chancellor Dr. Felix Kunda said the university will provide an opportunity to humanity world over to be awakened and understand “our existence earth”.
                        Dr. Kunda said, humanity has many questions  such as “who we are, where did we come from, where are we going, what is reality” and many others which needs answers.
                        “Some of the answers can only be found at personal level, when an individual enrolls in the Metaphysical Course.” Said Dr. Kunda.
                        UCMS is offering an opportunity for humanity to study in-depth and be able to find answers for themselves once they become awakened to reality.
                        The structure of the course is enabling everyone interested to be eligible, especially the vulnerable in society who have been oppressed and denied an opportunity to be educated. UMS is offering  life long education that improves students in all topics that concerns humanity’s living on earth.  </p>
                </div>
            </div>
    
            
        </div>
    </div>
</body>
{{ template "footer"}}
</html>












