
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/newsAdmin.css?v=1.7">
    <title>News</title>
</head>
<body>
    <div class="mainnewsdiv">

        <div class="leftside">

            {{ template "newsmain" .}}
        
        </div>
        
        <div class="rightside">
            <h1 class="news">
                News
            </h1>

            {{ range .NewsList}}
                {{ template "newsdemo" .}}
            {{ end }}
            
    
            
        </div>
    </div>
</body>
{{ template "footer"}}
</html>


{{ define "newsmain"}}


    <div class="newsimagediv" style="border: solid 1px white;">
        <img src="{{ .NewsMain.Image_Link}}" alt="{{ .NewsMain.Title}}" class="newsimage">
    </div>

    <div class="newsarticle">
    
        <div class="newsheader">
            <h2 class="newsheadertext">{{ .NewsMain.Title}}</h2>
            <h5 class="authername">{{ .NewsMain.Auther}}</h5>
        </div>

        <div class="newscontent">
            <p class="newsparagraphs">

            {{ .NewsMain.Story}}
            </p>

            
        </div>
    </div>

{{ end }}


{{ define "newsdemo"}}




<div class="newssample" 
            hx-get="/readnewsstory?uuid={{ .UUID}}"
            hx-target="#newsarticle"
            hx-swap="innerHTML"
            style="background-image: url({{.Image_Link}}); 
            background-repeat:no-repeat;
            background-size: 100%, 100%;">
    
    <div class="spacefiller">

    </div>

    <div class="newssummary">
    <p>
        
        {{ .Story}}
     </p>
    </div>
               
</div>
{{ end }}










