<!doctype html>
<html lang="en">

  <head>
    {{ template "head_temp"}}

    <style>
      .details_btn{
          display: block; 
          text-decoration: none; 
          text-align: center; 
          width: 100px;
          height: 30px;
          background-color: rgb(32, 0, 62);
          border: solid 1px rgb(32, 0, 62);
          color: white;
      }

      .details_btn:hover{
        color: rgb(32, 0, 62);
        background-color: white;
      }

      .details_btn:visited{
        color: white;
      }

      .details_btn:visited:hover{
        color: rgb(32, 0, 62);
      }
    </style>

  </head>

   
  <body>
   {{ template "adminheadertemp" .}}




  {{  template "side_bar" .}}


    <div class="main">
        <h2 class="dashboard_name">
            News
        </h2>
        <hr>
            <div class="mainnewsdiv">

            
                <div class="leftside" style="padding: 20px;">
                    <div class="navbar" style="border: solid 1px white; border-radius: 5px;">
                        <div class="navitem">
                            Write
                        </div>
                    </div>
                    
                    <div id="changer" >
                    {{template "writearticle"}}
                    </div>
                
                </div>

                <div class="rightside" id="adminright" style="border-radius: 5px; padding-bottom: 40px;">
                    <h3 class="News" style="text-decoration: none; font-weight: lighter;">
                        News Articles
                    </h3>
                    <ul id="newsamplelist">
					{{ range .AllNews}}
						{{ template "newssamples" .}}
					
					{{ end }}
                    
                    </ul>
                </div>

            </div>
			
			<div id="newsSavedPrt" style="position: relative; height; 49px; display: none;">
				
			</div>

    </div>
	
	 
	
	<div class="hidden_main">
		 <button onclick=msglogOpen()  class="openMsg">
			News
		  </button>
		<h2 class="dashboard_name" style="padding-left: 60px">
			News
		</h2>
        <hr>
            <div class="mainnewsdiv" style="margin-bottom: 100px; width: 100%;">

            
                <div class="leftside" style="width: 100%; border: solid 1px white; border-radius: 5px;">
                    <div class="navbar"  style="width: 100%;">
                        <div class="navitem" >
                            Write
                        </div>
                    </div>
                    
                    <div id="changer" style="width: 100%; margin-left: auto; margin-right: auto;">
						<div class="writearticle" style="padding-bottom: 30px;">
						
							<div class="writer" style="margin-left: auto; margin-right: auto;">
								<form hx-post="/createnews"
								hx-target="#newsamplelist"
								hx-swap="beforeend">
									<input type="text" placeholder="News Title" name="title" class="articletitle" >
									<textarea name="composenews" class="writerarea" placeholder="Compose article" style="margin-top: 10px; padding: 15px; height: 70vh;"></textarea>
									<input type="textarea" placeholder="Enter image link" name="image" class="articleinagelink">
									<input type="textarea" placeholder="Enter Auther Name" name="auther" class="articleinagelink">


									<div class="savearticlediv">
										<button type="submit" class="savearticle">Save Article</button>
									</div>
									
								</form>
							</div>
							
						</div>
                    </div>
                
                </div>

                

            </div>
		
	</div>
	
	
	
	 <div class="hiddenmsglog" id="hiddenmsglog">
		<div class="closeMsg" style="height: 45px; padding: 3px;">
			<button onclick="msglogClose()"> X </button>
		</div id="newsamplelist" style="background-color: white; width: 100%; height: 100vh;">
		
			 <ul id="newsamplelist" style="list-style: none; padding: 0px;" >
					{{ range .AllNews}}
						{{ template "newssamples" .}}
					
					{{ end }}
                    
            </ul>
			
			
		</div>
	</div>
	  
	<script>
		
		
		function msglogOpen(){
			const msglogs = document.getElementById('hiddenmsglog')
			   msglogs.style.display = 'block'
			   console.log("open side");
		  }

		  function msglogClose(){
			   const msglogs = document.querySelector('.hiddenmsglog')
			   msglogs.style.display = 'none'
			   console.log("open side");
		  }
	</script>



{{ define "newsSavedPrt"}}
	<div id="newsSavedPrt" style="position: relative; height; 49px; display: flex;">
				
	</div>

{{ end }}
    

{{define "newssamples"}}

    <div class="newssample" style="background-image: url('{{.Image_Link }}'); 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin-left: 0px;">
        <div class="spacefiller">
		{{ .Auther}}
            
        </div>
        <div class="newssummary">

            <p class="summarytext">{{ .Story}}</p>
            <div class="viewupdatedelete">
				<a href="/viewnews" class="summarybtn view" style="text-align: center; text-decoration: none;"> View</a>
				<a href="/viewnews" class="summarybtndelete" style="text-align: center; text-decoration: none;" > Delete</a>

            </div>
        </div>
    </div>

{{end}}

{{define "writearticle"}}

    <div class="writearticle" style="padding-bottom: 30px;">
        <div class="writer">
            <form hx-upload="/createnews"
            hx-target="#newsamplelist"
            hx-swap="beforeend"
             hx-encoding="multipart/form-data">
                <input type="text" placeholder="News Title" name="title" class="articletitle">
				<textarea name="story"  cols="90" rows="15" style="margin-top: 20px; padding-bottom: 10px;"></textarea>
                <input type="textarea" placeholder="Enter image link" name="image" class="articleinagelink">
                <input type="textarea" placeholder="Enter Auther Name" name="auther" class="articleinagelink">
                <label for="file">Choose file to upload:</label>
                <input type="file" id="file" name="file" required><br><br>



                <div class="savearticlediv">
                    <button type="submit" class="savearticle">Save Article</button>
                </div>
                
            </form>
        </div>
        
    </div>
{{end}}


{{define "updatearticle"}}
<div class="writearticle">
    <div class="preview">

    </div>
    <div class="writer">
        <form >
            <input type="textarea" placeholder="Enter image link" name="image" class="articleinagelink">
            <textarea name="purpose_of_enrolling" class="writerarea" placeholder="Compose article"></textarea>

            <div class="savearticlediv">
                <button type="submit" class="savearticle">Update Article</button>
                <button type="submit" class="deletearticle">Delete Article</button>
            </div>
            
        </form>
    </div>
    
</div>
{{end}}

{{ define "readarticle"}}
    <div class="newsarticle">
        <div class="newsheader">
            <h2 class="newsheadertext">The New Story</h2>
            <h5 class="authername">By:"Name of Author"</h5>
        </div>

        <div class="newscontent">
            <p class="newsparagraphs">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reprehenderit aspernatur repellat alias. Reiciendis labore quo dicta maiores. Quasi rem magnam recusandae nobis deleniti illo, quo nemo repellendus culpa placeat!</p>

            

           
        </div>
    </div>
{{end}}

    



</body>
</html>





    









